nobr {
	display: block;
}

#search {
	position: relative;
	width: 524px;
	height: 85px;
	background: transparent url('../images/logo.png') no-repeat top center;
	z-index: 2;
}

#searchField {
	top: 20px;
}

#searchButton {
	top: 18px;
}

#searchResultStatistic {
	position: absolute;
	top: 53px;
	left: 50px;
	font-size: 10px;
	font-style: italic;
}
	
#content {
	position: relative;
	width: 716px;
	top: -30px;
	z-index: 1;
}